In [1]:
my_dict = {"key1": 12, "key2": 31, "key3": 42}

In [6]:
your_dict =my_dict.copy()

In [9]:
your_dict['key3'] = 56

In [14]:
your_tup = your_dict.items()

In [13]:
your_dict

{'key1': 12, 'key2': 31, 'key3': 56}

In [20]:
your_tup = (1,2,3,4,5)

In [22]:
your_tup

(1, 2, 3, 4, 5)

In [23]:
your_tup[2]

3

In [26]:
your_tup.count(1)

1

In [28]:
your_tup.index(3)

2

In [30]:
your_tup[2:-1]

(3, 4)

In [32]:
%%writefile myfile.txt
Akash eto meghla
jeo nako ekla
ekhoni nambe brishti

Writing myfile.txt

In [33]:
myfile = open('myfile.txt')

In [39]:
myfile.seek(0)
contents = myfile.read()

In [43]:
myfile.seek(0)
myfile.readlines()

['Akash eto meghla\n', 'jeo nako ekla\n', 'ekhoni nambe brishti\n']

In [49]:
myfile.close()

In [50]:
with open("myfile.txt") as my_new_file:
    contents = my_new_file.read()

In [51]:
contents

'Akash eto meghla\njeo nako ekla\nekhoni nambe brishti\n'

In [55]:
with open("myfile.txt", mode='r') as myfile:
    content = myfile.read()

In [53]:
content

'Akash eto meghla\njeo nako ekla\nekhoni nambe brishti\n'

In [57]:
%%writefile my_new_file.txt
this is line 1
line 2
l3

Overwriting my_new_file.txt

In [62]:
with open("my_new_file.txt", mode = 'a') as f:
    f.write("four on fourth")

In [63]:
with open("my_new_file.txt", 'r') as r:
    print(r.read())

this is line 1
line 2
l3

four on fourthfour on fourth

In [65]:
lst = [1,2,3]

for n in lst:
    print(n)

1
2
3

In [67]:
lst = []
i = 0
for i in range(20):
    lst.append(i)
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [70]:
for num in lst:
    print('hater lekha practice')

hater lekha practice
hater lekha practice
hater lekha practice
hater lekha practice
hater lekha practice
hater lekha practice
hater lekha practice
hater lekha practice
hater lekha practice
hater lekha practice
hater lekha practice
hater lekha practice
hater lekha practice
hater lekha practice
hater lekha practice
hater lekha practice
hater lekha practice
hater lekha practice
hater lekha practice
hater lekha practice

In [74]:
for n in lst:
    if n % 2 == 0:
        print(n)
    else:
        print(f'Odd number: {n}')

0
Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10
Odd number: 11
12
Odd number: 13
14
Odd number: 15
16
Odd number: 17
18
Odd number: 19

In [80]:
total = 0
for n in lst:
    total +=n 
    print(total)
print(total)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
190

In [91]:
mystring = 'Maya Cycle'
new = []


for _ in "Maya Cycle":
    if _ == ' ':
        print("NIJHUM BRINDABON")
    else:
        print('Maya Cycle!!')

Maya Cycle!!
Maya Cycle!!
Maya Cycle!!
Maya Cycle!!
NIJHUM BRINDABON
Maya Cycle!!
Maya Cycle!!
Maya Cycle!!
Maya Cycle!!
Maya Cycle!!

In [94]:
tup = ()
i = 0
for i in range(16):
    tup = tup + (i,)
    i +=1
tup

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)

In [96]:
for items in tup:
    print(items)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [97]:
lstTUP = [(1,2), (3,4), (5,6), (7,8)]

In [99]:
for tup in lstTUP:
    print(tup)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [102]:
for (a,b) in lstTUP:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [113]:
a = []
i = 0
for i in range(21):
    t = (i, i+1)
    a.append(t)
    i +=2
print(a)

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9), (9, 10), (10, 11), (11, 12), (12, 13), (13, 14), (14, 15), (15, 16), (16, 17), (17, 18), (18, 19), (19, 20), (20, 21)]

In [127]:
d = {'k1': 1, "k2":2, "k3": 3}

for key, value in d.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

In [136]:
x = [1,2,3]

for item in x:
    pass

m = 'sammy'

for letter in m:
    if letter == 'a':
        continue
    elif letter == 'y':
        break
    print(letter)

s
m
m

In [139]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [146]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter, '\n')

0
a

1
b

2
c

3
d

4
e

In [7]:
lst1 = [1,2,3]
lst2 = ['a','b','c']
lst3 = [3,2,1]


for item in zip(lst1, lst2, lst3):
    print(item)
    
x =zip(lst1,lst2,lst3)
list(x)

(1, 'a', 3)
(2, 'b', 2)
(3, 'c', 1)

[(1, 'a', 3), (2, 'b', 2), (3, 'c', 1)]

In [9]:
'x' in [1,2,3,'x']

True

In [13]:
'k1' in {'k1': 4}

True

In [14]:
from random import shuffle

In [19]:
lst = [1,2,3,4,5,6,7,8]
rlst = shuffle(lst)
print(lst)

[5, 6, 7, 4, 8, 2, 1, 3]

In [25]:
from random import randint
randint(0,3000)

1978

In [27]:
mystring = "Hello"
t = []
for char in mystring:
    t.append(char)
t

['H', 'e', 'l', 'l', 'o']

In [30]:
#alt

t =[letter for letter in mystring]
t

['H', 'e', 'l', 'l', 'o']

In [32]:
t1 = [x for x in 'word']
t1

['w', 'o', 'r', 'd']

In [37]:
t2 =[x**2 for x in range(5)]
t2

[0, 1, 4, 9, 16]

In [38]:
mylist =[x for x in range(11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [40]:
celcius = [0,10,20,34.5]

farhenheit = [((9/5)*temp +32) for temp in celcius]
farhenheit

[32.0, 50.0, 68.0, 94.1]

In [42]:
results = [x if x%2==0 else "ODD" for x in range(11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [44]:
mylist =[]

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
        
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [46]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [47]:
mylist = [1,2,4]

In [50]:
mylist.insert(1,3)

In [52]:
mylist

[1, 3, 3, 2, 4]

In [58]:
def even_list(num_list):
    
    evn =[]
    
    for num in num_list:
        if num %2 ==0:
            evn.append(num)
            
        else:
            pass
    return evn

a= [1,2,4,5,6]

even_list(a)

[2, 4, 6]

In [62]:
stock_prices = [('Apple', 200),("google", 400), ("OS", 100)]

for item in stock_prices:
    print(item)
    
for ticker,price in stock_prices:
    print(ticker)
    print(price+(0.1*price))

('Apple', 200)
('google', 400)
('OS', 100)
Apple
220.0
google
440.0
OS
110.0

In [63]:
work_hours = [('ABBY', 100 ), ('BILLY', 400), ("CASSIE", 800)]

In [64]:
def employee_check(work_hours):
    current_max = 0
    employe_of_month = ''
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employe_of_month = employee
        else:
            pass
        
    
    return(employe_of_month, current_max)

In [66]:
name, hours =employee_check(work_hours)

In [69]:
example = [1,2,3,4,5,6,7]

In [70]:
from random import shuffle

In [71]:
shuffle(example)

In [72]:
example

[5, 6, 1, 3, 7, 2, 4]

In [73]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [77]:
result = shuffle_list(example)
result

[1, 5, 3, 2, 4, 6, 7]

In [78]:
mylist =[" ", '0', ' ']

In [82]:
shuffle_list(mylist)

[' ', ' ', '0']

In [92]:
def player_guess():
    guess =''
    while guess not in ['0','1','2']:
        guess = input("pick a number 0 to 2>")
    return int(guess)

In [93]:
player_guess()

pick a number 0 to 2> 0

0

In [89]:
myindex= player_guess()

pick a number 1 to 3 5
pick a number 1 to 3 2

In [90]:
def check_guess(mylist,guess):
    if mylist[guess] == "0":
        print("Correct!!")
    else:
        print("Wrong!!")
        print(mylist)

In [94]:
#initial list
mylist = [' ', '0', ' ']
#shuffle list
mixedup_list = shuffle_list(mylist)
#user guess
guess = player_guess()
#check guess
check_guess(mixedup_list, guess)

pick a number 0 to 2> 0

Wrong!!
[' ', '0', ' ']

In [98]:
#*args  and **kwargs
def myfunc(a,b, c=0, d=0):
    #returns 5% of the sum a and b
    return sum((a,b,c,d)) * 0.05

In [100]:
myfunc(40,60,900)

50.0

In [107]:
def myfunc(*args):
    for i in args:
        print(i)

In [108]:
myfunc(40,60,900)

40
60
900

In [111]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('i did not find any fruit')

In [113]:
myfunc(fruit = 'apple', veggie = 'lettuce')

My fruit of choice is apple

In [119]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print("I would like {} {}".format(args[0],kwargs["food"]))

In [120]:
myfunc(10,20,40, fruit = 'orange', food='eggs', animal='dog')

(10, 20, 40)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [122]:
## LAMBDA EXPRESSION

In [123]:
def square(x):
    return x**2

In [124]:
nums =[1,2,3,4,5]

In [128]:
for item in map(square, nums):
    print(item)

1
4
9
16
25

In [133]:
list(map(square,nums))

[1, 4, 9, 16, 25]

In [134]:
str(map(square, nums))

'<map object at 0x0000027A247B6AA0>'

In [130]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return "EVEN"
    else:
        return mystring[0]

In [131]:
names = ['ANDY', "EVE", "sally"]

In [132]:
list(map(splicer, names))

['EVEN', 'E', 's']

In [135]:
def check_even(num):
    return num%2 ==0

In [155]:
mynums= [1,2,3,4,5,6,7,8]

In [156]:
list(filter(check_even, mynums))

[2, 4, 6, 8]

In [157]:
for n in filter(check_even, mynums):
    print(n)

2
4
6
8

In [158]:
def square(num):
    result = num **2
    return result

In [159]:
square(3)

9

In [160]:
def square1(num): return num**2

In [161]:
square1(4)

16

In [162]:
square3 = lambda num:num**2

In [163]:
square3(2)

4

In [164]:
list(map(lambda num:num**2, mynums))

[1, 4, 9, 16, 25, 36, 49, 64]

In [166]:
list(filter(lambda num:num%2 == 0, mynums))

[2, 4, 6, 8]

In [167]:
names

['ANDY', 'EVE', 'sally']

In [168]:
list(map(lambda name: name[0], names))

['A', 'E', 's']

In [169]:
list(map(lambda name: name[::-1], names))

['YDNA', 'EVE', 'yllas']

In [6]:
# Python program to display the Fibonacci sequence

def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms = 10

# check if the number of terms is valid
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibo(i))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [5]:
def user_choice():
    
    choice = 'anything'
    acceptable_range = range(0,11)
    within_range = False
    
    #twocheck: digit or within range 
    while choice.isdigit() == False or within_range == False:
        
        choice = input("Please enter a number(0-10): ")
        
        #digit
        if choice.isdigit() == False:
            print("SOrrY dickhead that's not a DIGIT")
        
        #range
        if choice.isdigit() == True:
            if int(choice) in acceptable_range:
                within_range = True
            else:
                print("Hey sorry you're out of acceptable range")
                within_range = False
    return choice

In [6]:
user_choice()

Please enter a number(0-10):  10

'10'

In [34]:
result = 'Wrong values'

In [35]:
acceptable_values = [range(11)]

In [42]:
print(range(11))

range(0, 11)

In [4]:
game_list = [0,1,2]

In [5]:
def display_game(game_list):
    print("Here's the current list: ")
    print(game_list)

In [6]:
def position_choice():
    
    choice = "wrong"
    
    while choice not in ['0','1','2']:
        
        choice = input("Pick a Position(0,1,2): ")
        
        if choice not in ['0','1','2']:
            print("Sorry invalid choice!!")
    
    return int(choice)

Pick a Position(0,1,2):  1

1

In [7]:
def replacement_choice(game_list, position):
    
    user_placement = input("Type a string to place at position: ")
    game_list[position] = user_placement
    return game_list

replacement_choice(game_list, 1)

Type a string to place at position:  2

[0, '2', 2]

In [8]:
def gameon_choice():
    
    choice = 'wrong'
    
    while choice not in ["Y", "N"]:
        
        choice = input("Keep playing? (Y or N)")
        
        if choice not in ["Y", 'N']:
            print("type again")
            
    if choice == 'Y':
        return True
    else:
        return False

gameon_choice()

Keep playing? (Y or N) Y

True

In [9]:
game_on = True
game_list = [0,1,2]

while game_on:
    
    display_game(game_list)
    
    position = position_choice()
    
    game_list = replacement_choice(game_list, position)
    
    display_game(game_list)
    
    game_on = gameon_choice()

Here's the current list:
[0, 1, 2]

Pick a Position(0,1,2):  2
Type a string to place at position:  abc

Here's the current list:
[0, 1, 'abc']

Keep playing? (Y or N) 2

type again

Keep playing? (Y or N) abc

type again

Keep playing? (Y or N) 2

type again

Keep playing? (Y or N) Y

Here's the current list:
[0, 1, 'abc']

Pick a Position(0,1,2):  3

Sorry invalid choice!!

Pick a Position(0,1,2):  2
Type a string to place at position:  ami

Here's the current list:
[0, 1, 'ami']

Keep playing? (Y or N) Y

Here's the current list:
[0, 1, 'ami']

Pick a Position(0,1,2):  ami

Sorry invalid choice!!

Pick a Position(0,1,2):  0
Type a string to place at position:  9

Here's the current list:
['9', 1, 'ami']

Keep playing? (Y or N) N